＃http://www.gnu.org/software/automake

Makefile.in
/ AR-LIB
/ mdate-SH
/ PY-编译
/试车手
/ ylwrap

＃http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/编译
/config.guess
/config.h.in
/config.sub
/配置
/configure.scan
/ depcomp
/安装-SH
/失踪
/邮票-H1

＃https://www.gnu.org/software/libtool/

/ltmain.sh

＃http://www.gnu.org/software/texinfo

/texinfo.tex

＃http://www.gnu.org/software/m4/

M4/ libtool.m4
M4/ ltoptions.m4
M4/ ltsugar.m4
M4/ ltversion.m4
M4 / LT〜obsolete.m4
autom4te.cache
